{% autoescape off %}

Bonjour {{nom}},
Nous vous remercions d’avoir contacté Misouklou. Votre message dont le sujet est : {{sujet}} a bien été reçu et nous tenons à vous assurer que notre équipe le traitera dans les plus brefs délais.
Si votre demande est urgente ou si vous avez des questions supplémentaires, n’hésitez pas à nous contacter par téléphone au 01-53-15-15-15 ou à répondre à cet email.
Nous vous remercions de l’intérêt que vous nous portez  et nous sommes impatients de vous aider.
Cordialement, Cédric assémien,développeur/UX designer,Misouklou.


{% endautoescape %}